---
import Layout from "@src/layouts/Layout.astro";
import {
  getStaticPaths,
  getLangFromUrl,
  useTranslations,
  useTranslatedPath,
} from "@src/i18n/utils";
import { sanityClient } from "sanity:client";
import type { SanityDocument } from "@sanity/client";
import AanbodCard from "@components/AanbodCard.astro";
import constructImg from "@assets/imgs/constructImg.jpg";
import grassPathImg from "@assets/imgs/grass-path.jpg";
import mountainPathImg from "@assets/imgs/mountain-path.jpg";
import groupPhotoImg from "@assets/imgs/group-foto.jpg";
import meerImg from "@assets/imgs/meer.jpg";
import { Image } from "astro:assets";

export { getStaticPaths };
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);

const posts_query = `*[
  _type == "post" 
  && defined(slug.current)
  && language == $lang
] | order(publishedAt desc)[0...2] {
  _id, 
  title, 
  slug, 
  description,
  language
}`;

const posts = await sanityClient.fetch<SanityDocument[]>(posts_query, { lang });
---

<Layout>
  <section
    class="intro text-white"
    style={`background-image: url(${meerImg.src});`}
  >
    <h1 class="text-align-center">Reconstructive: beleef vanuit je kern</h1>
  </section>
  <section class="bg-green text-white center roman-font">
    <p class="p1">
      <strong>Carl Jung:</strong> "The privilege of a lifetime is to become who you
      truly are"
    </p>
  </section>
  <section class="bg-beige text-gray center">
    <div class="container small-text-margin center">
      <h2 class="text-green">
        Doorbreek je patronen en leef meer van je kern!
      </h2>
      <p>
        Reconstructive is een kractige lichaamsgerichte methode waardoor jouw <strong
          >inuïtie, vrijheid</strong
        > en <strong>helderheid</strong> meer kunnen stromen.
      </p>
      <ol>
        <li class="bold">Loskomen van oude patronen en denken.</li>
        <p>
          Reconstructive helpt je bevrijden van onbewuste patronen, blokkades en
          vaste ideeën, en opent zo de weg naar nieuwe beweging en
          mogelijkheden.
        </p>
        <li class="bold">Terugkeren naar lichaam en beleven.</li>
        <p>
          Het is een methode voorbij het hoofd, waardoor er meer ruimte is voor
          het lichaam en wat het je te vertellen heeft.
        </p>
        <li class="bold">Ruimte voor intuïtie, vrijheid en helderheid.</li>
        <p>
          De groep vormt daarbij een spiegelend veld. Wat je bij anderen ziet,
          raakt iets in jou. Wat jij laat zien, opent iets bij hen. Door ruimte
          te creëeren komen via het lichaam doorleefde inzichten, die je dichter
          brengen bij je innerlijke helderheid en je eigen essentie.
        </p>
      </ol>
    </div>
  </section>
  <section class="bg-green text-white center">
    <div class="text-margin text-align-center">
      <h2>
        Ben je bereid om vanuit je kern te leven en om vol ja tegen het leven te
        kunnen zeggen?
      </h2>
    </div>
  </section>
  <section class="bg-beige text-gray center">
    <div class="container center text-margin">
      <h2 class="text-green">Ons aanbod</h2>
      <p>
        Ons aanbod bestaat uit drie formules die elkaar verdiepen: een eerste
        kennismakingsdag, een tweedaagse verdieping tot een innerlijke zesdaagse
        tocht.
      </p>
      <p>
        Welke formule je ook kiest, elke stap brengt je dichter bij wie je
        werkelijk bent.
      </p>
      <p>Er is geen verplichte volgorde.</p>
      <hr class="yellow-line" />
      <div class="AanbodCardContainer">
        <AanbodCard
          title="Voorbij je construct (1 dag)"
          text="Stap één dag buiten je vertrouwde patronen en ontdek hoeveel ruimte er ontstaat wanneer je je construct loslaat."
          link="/aanbod#construct"
          alt="Foto van een plein met een bloem in het midden"
          img={constructImg}
        />
        <AanbodCard
          title="Reconstructive (2 dagen)"
          text="Ervaar de transformerend kracht van Reconstructive en kom dichter bij je intuïtie, je vrijheid en je kern."
          link="/aanbod#reconstructive"
          alt="Foto van een houte pad door het hoge grass"
          img={grassPathImg}
        />
        <AanbodCard
          title="Find your gold (6 dagen)"
          text="Ga op een diepgaande reis door natuur en lichaam, en keer terug naar de essentie van wie jij werkelijk bent"
          link="/aanbod#gold"
          alt="Foto van een houten pad door een dor veld met bergen in de achtergrond"
          img={mountainPathImg}
        />
      </div>
      <hr class="yellow-line" />
      <a class="btn green-btn big-btn" href="mailto:info@reconstructive.be"
        >Gratis kennismakingsgepsrek</a
      >
    </div>
  </section>
  <section class="bg-green text-white blog">
    <div class="small-text-margin center">
      <h2 class="text-align-center">Blog</h2>
      <p class="text-align-center">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates,
        nihil. Explicabo doloribus voluptates dolores quae iusto sapiente vel
        numquam. Corrupti animi autem fugiat nulla quibusdam voluptatem nesciunt
        obcaecati maiores soluta.
      </p>
      <hr class="yellow-line" />
      {
        posts && posts.length === 0 && (
          <div class="no-posts-container">
            <p>Er zijn momenteel geen berichten beschikbaar.</p>
          </div>
        )
      }
      <div class="col2">
        {
          posts && posts.length > 0 && (
            <div class="col2">
              {posts.map((post) => (
                <a
                  href={translatePath(`/posts/${post.slug.current}`)}
                  class="center post-card-link"
                >
                  <div class="post-card-wrapper">
                    <div>
                      <h4 class="text-align-center">{post.title}</h4>
                      <p class="text-align-center text-gray">
                        {post.description}
                      </p>
                    </div>
                    <span class="green-btn btn">Lees meer</span>
                  </div>
                </a>
              ))}
            </div>
          )
        }
      </div>
      <hr class="yellow-line" />
    </div>
  </section>
  <section class="bg-beige text-gray center">
    <div class="small-text-margin us">
      <div class="img-wrapper">
        <Image
          alt="groeps foto met Bram Geysen Elke Busschots en Carola Castillo"
          width={500}
          height={500}
          src={groupPhotoImg}
          class="img"
        />
      </div>
      <div class="text">
        <h3 class="text-green text-align-center">Wie zijn wij?</h3>
        <p>
          Bram Geysen (links) en Elke Busschots (rechts) zijn gecertificeerde
          Reconstructive begeleiders.
        </p>
        <p>
          Carola Castillo (midden) is grondlegster van het gedachtengoed en de
          methodiek Reconstructive en oprichtster van Reconstructive
          International Integratie Holistic School:
          https://reconstructiveschool.com/en/home/ <a
            href="https://reconstructiveschool.com/en/home/"
            target="_blank"
            rel="noopener noreferrer"></a>
        </p>
        <h3 class="text-green text-align-center">
          Contacteer ons voor een vrijblijvend gesprek:
        </h3>
        <div class="contact-container">
          <div class="contact">
            <p>Elke Busschots: [+ 32 475 46 39]</p>
            <p>Bram Geysen: [+ 32 473 52 34 ]</p>
            <p>
              mail: <a href="mailto:info@reconstructive.be"
                >info@reconstructive.be</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</Layout>

<style>
  .intro {
    display: flex;
    align-items: flex-end;
    justify-content: center;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    height: 500px;
  }

  .yellow-line {
    border: 0;
    border-bottom: 2px solid #dec15b;
    width: 100%;
  }
  .AanbodCardContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    margin: 3rem;
  }

  .post-card-wrapper {
    background-color: var(--bg-white);
    color: var(--text-green);
    padding: 1rem;
    border-radius: 0.5rem;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .us {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 3rem;
  }

  .us .img-wrapper {
    overflow: hidden;
    border-radius: 100%;
    aspect-ratio: 1/1;
    width: 100%;
    max-width: 280px;
    margin: auto;
    margin-right: 0;
  }

  .us .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .us p {
    overflow-wrap: break-word;
    word-break: break-word;
  }

  .contact-container {
    display: grid;
    justify-content: center;
  }

  .contact-card {
    text-align: left;
  }

  .blog .col2 {
    margin: 2rem 0;
  }

  @media (max-width: 1000px) {
    .AanbodCardContainer {
      grid-template-columns: 1fr;
      margin: 1.5rem;
    }
  }

  @media (max-width: 800px) {
    .us {
      grid-template-columns: 1fr;
    }

    .us .img-wrapper {
      width: 50%;
      max-width: 250px;
      margin-left: auto;
      margin-right: auto;
    }

    .us .text {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }

    .us h3 {
      text-align: center;
    }
  }
</style>
