---
import type { Kalender } from "@src/types";

type Props = {
  kalenderData: Kalender;
};

const { kalenderData } = Astro.props;
---

<div class="container bg-beige text-gray">
  <hr class="yellow-line" />
  <h3 class="text-green text-align-center">{kalenderData.datum}</h3>
  <hr class="yellow-line" />
  <div>
    <h4 class="text-green text-align-center">{kalenderData.title}</h4>
    <p><strong>Datum:</strong> {kalenderData.datum}</p>
    <p><strong>Voor:</strong> {kalenderData.voorWie}</p>
    <p><strong>Prijs:</strong> {kalenderData.prijs}</p>
    <p><strong>Locatie:</strong> {kalenderData.locatie}</p>
    <p><strong>Taal:</strong> {kalenderData.taal}</p>
    <p>
      <strong>Max aantal deelnemers:</strong>
      {kalenderData.aantalDeelnemers}
    </p>
  </div>
</div>

<style>
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #dec15b;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    font-size: xx-small;
  }

  .container h3 {
    font-size: 1.7rem;
    margin: 10px 0;
  }
</style>
