---
import { Image } from "astro:assets";

interface Props {
  title: string;
  text: string;
  img: ImageMetadata;
  alt: string;
  link: string;
}

const { title, text, img, alt, link } = Astro.props;
---

<a href={link} class="center">
  <div class="container text-gray">
    <div class="img-container">
      <Image class="img" alt={alt} src={img} width={500} height={300} />
    </div>
    <h3 class="text-green text-align-center">{title}</h3>
    <p>{text}</p>
    <button class="green-btn"> Lees meer </button>
  </div>
</a>

<style>
  a.center {
    display: flex;
    text-decoration: none;
    height: 100%;
    width: 100%;
  }

  .container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-bottom: 1.5rem;
  }

  .img-container {
    width: 100%;
    aspect-ratio: 16 / 10;
    overflow: hidden;
  }

  .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  .green-btn {
    margin-top: auto;
    align-self: center;
  }
</style>
