---
import { Image } from "astro:assets";

interface Props {
  title: string;
  text: string;
  img: ImageMetadata;
  alt: string;
  link: string;
}

const { title, text, img, alt, link } = Astro.props;
---

<a href={link} class="center">
  <div class="container text-gray">
    <Image alt={alt} src={img} width={500} height={300} />
    <h3 class="text-green">{title}</h3>
    <p>{text}</p>
    <button class="green-btn"> Lees meer </button>
  </div>
</a>

<style>
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
</style>
