---
import { Image } from "astro:assets";
import img from "@assets/imgs/image.png";
import Layout from "@src/layouts/Layout.astro";
import {
  getStaticPaths,
  getLangFromUrl,
  useTranslations,
  useTranslatedPath,
} from "@src/i18n/utils";

export { getStaticPaths };
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
---

<Layout>
  <section class="bg-beige text-gray text-align-justify">
    <div class="container small-text-margin">
      <h1 class="text-green text-align-center">
        Reconstructive: een reis terug naar jezelf.
      </h1>
      <p>
        Reconstructive biedt een unieke weg naar leven vanuit je kern, je
        authenticiteit en je intuïtie. Het nodigt je uit om de constructies die
        je, vaak onbewust, hebt opgebouwd vanuit vroege indrukken in vraag te
        stellen. Zo wordt de vrijheid die daarachter schuilgaat zichtbaar.
      </p>
      <p>
        Deze reis brengt je van overleven naar vol leven. Het is een proces van
        volwassenwording en heling. Je innerlijke kracht spreekt jou aan en
        nodigt je uit om verantwoordelijkheid te nemen over je helingsproces.
      </p>
    </div>
  </section>
  <section class="kern bg-green text-white center">
    <h2>De kern van deze methode:</h2>
    <h2>"From surviving to thriving"</h2>
  </section>

  <section class="no-padding">
    <div class="col2">
      <div class="img-wrapper">
        <Image class="img" alt="" width={500} height={500} src={img} />
      </div>
      <div class="bg-beige text-gray text">
        <p>
          <bold>1. Natuur & energie: </bold> Patronen komen overvloedig voor in de
          natuur en resoneren diep met de menselijke geest.
        </p>
        <p>
          Het spiraalpatroon, bijvoorbeeld, is gecodeerd in ons DNA, in planten,
          dieren, kristallen en in onze Melkweg. Zonnebloemen rangschikken hun
          zaden in spiralen om ruimte en licht maximaal te benutten, terwijl
          tornado’s en draaikolken spiraaldynamiek gebruiken om energie
          efficiënt te geleiden.
        </p>
        <p>
          Veel tradities zien spiralen als het pad waarlangs <bold>
            levenskracht
          </bold>
          stroomt: een beweging van binnen naar buiten, van essentie naar manifestatie.
        </p>
        <p>
          Zonder structuur blijft energie puur potentieel maar zodra ze zich via
          patronen, structuren en ritmes ordent, wordt ze voelbaar, waarneembaar
          en scheppend.
        </p>
      </div>
      <div class="bg-green text-white text">
        <p>
          2. Overleven & identiteit: In onze kindertijd vormen
          overlevingspatronen de basis van wie we denken te moeten zijn.
        </p>
        <p>
          Als mens worden we geboren in een familie en gevormd door cultuur,
          religie en educatie. In onze eerste zes levensjaren ontwikkelen we
          patronen die ons houvast, voorspelbaarheid en veiligheid bieden. We
          leren de strategieën die ons helpen overeind te blijven en die onze
          identiteit vormgeven. Die patronen vormen de basis waarop we later,
          vaak onbewust, blijven terugvallen, vooral wanneer het leven moeilijk
          wordt.
        </p>
        <p>
          Tijdens deze periode kan vroegkinderlijk trauma ontstaan, waarvan de
          impact zich nog decennia later kan laten voelen.
        </p>
      </div>
      <div class="img-wrapper">
        <Image class="img" alt="" width={500} height={500} src={img} />
      </div>
      <div class="img-wrapper">
        <Image class="img" alt="" width={500} height={500} src={img} />
      </div>
      <div class="bg-beige text-gray text">
        <p>
          3. Doorbreken & bewustwording: Wanneer oude patronen beginnen te
          knellen, ontstaat de kans om te zien wat ons werkelijk tegenhoudt.
        </p>
        <p>
          In het verder opgroeien merken we dat jobs, relaties, keuzes, nieuwe
          ervaringen en conflicten barstjes in dit construct brengen. Ze laten
          ons verschillen zien en nodigen ons uit om met een ruimere, volwassen
          blik te kijken.
        </p>
        <p>
          Waar het kind in ons vaak wil vasthouden aan gelijk of zekerheid, kan
          de volwassene deze momenten zien als kansen voor groei en verrijking.
        </p>
        <p>
          Vragen zoals "Wie bent ik écht? Wie ben ik voorbij mijn rol? Waarom
          loop ik vast?" komen dan voorbij
        </p>
        <p>
          Dit vraagt om openheid, nieuwsgierigheid en de bereidheid om voorbij
          het bekende te bewegen.
        </p>
      </div>
      <div class="bg-green text-white text">
        <p>
          4. Belichaming & creatie: Door nieuwe patronen in het lichaam te
          verankeren, ontstaat ruimte voor bewuste creatie vanuit onze kern.
        </p>
        <p>
          Echte wijsheid ontstaat wanneer ons lichaam iets ten diepste heeft
          ervaren. In ons hoofd hebben we het allemaal al overdacht en lopen we
          in dezelfde cirkel. Werkelijke verandering begint dan ook niet in het
          hoofd, maar in het lichaam. Wanneer we uit het denken stappen en in
          ons lichaam zakken, ontstaat er ruimte voor nieuwe ervaringen,
          verbinding en inzicht.
        </p>
        <p>
          Potentie, energie dat tot nu toe onzichtbaar of verborgen bleef, mag
          zich nu via het lichaam toont.
        </p>
        <p>Ervaar hoe energie kracht geeft en intentie richting.</p>
        <p>
          Wie blokkades wil opheffen en vrijer wil leven, ervaart hoe het is om
          met beide te werken.
        </p>
      </div>
      <div class="img-wrapper">
        <Image class="img" alt="" width={500} height={500} src={img} />
      </div>
      <div class="img-wrapper">
        <Image class="img" alt="" width={500} height={500} src={img} />
      </div>
      <div class="bg-beige text-gray text">
        <p>
          5. Heelheid & integratie: Wanneer kind en volwassen delen samengaan,
          worden patronen levensdienend en ontstaat innerlijke heelheid.
        </p>
        <p>
          Vanuit die doorleefde wijsheid en innerlijke ruimte kunnen we creëren.
          Het wordt bewust creëren vanuit intuïtie en helderheid, vanuit onze
          kern, uitgelijnd.
        </p>
        <p>
          De volwassene en het kind in ons kunnen samenkomen in een gevoel van
          heelheid, waarbij de kwaliteiten van het kind op een veilige manier
          gedragen worden door onze volwassen delen en op bewuste manier tot
          uiting komen in de wereld.
        </p>
      </div>
    </div>
  </section>
  <section class="bg-green text-white center">
    <h2>"Your journey to freedom"</h2>
  </section>
  <section class="bg-beige text-gray">
    <div class="small-text-margin">
      <h2 class="center text-green">
        Ben je klaar om dichter bij je kern the komen?
      </h2>
      <p>
        We werken graag samen met mensen die nieuwsgierig zijn, het gevoel
        hebben dat er iets in de weg zit maar graag vooruit willen, en bereid
        zijn om vanuit vertrouwen en onzekerheid nieuwe ervaringen te omarmen.
        Als je, als volwassen deel de regie in eigen handen wilt nemen, je
        kindsdeel en volwassen deel zorgvuldig wilt verkennen, en heel wilt
        worden door je ware kern te ontdekken, dan is Reconstructive iets voor
        jou.
      </p>
      <p>
        Wat onze manier van werken onderscheidt, is de diepgaande menselijke
        ontmoeting. We bieden een kwaliteit van aanwezigheid, een heldere blik
        en een zacht hart. We brengen zowel lichtheid als diepgang in elke
        sessie, waardoor we je helpen nieuwe perspectieven en vrijheid te
        ontdekken.
      </p>
      <a href={translatePath("/aanbod")} class="center">
        <button class="green-btn aanbod-btn">
          Lees meer over ons aanbod
        </button>
      </a>
    </div>
  </section>
</Layout>
<style>
  .kern h2 {
    margin: 1rem;
  }

  .col2 {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0;
    overflow: hidden;
  }
  .col2 .img-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .col2 .text {
    padding: 2rem;
    height: 100%;
  }

  .col2 .img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .aanbod-btn {
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    margin: 3rem 0 1rem 0;
  }
</style>
